button {
    background-color: #000000;
    color: #ffffff;
    box-shadow: $box-shadow;
    outline: 0;
    border: none;
    border-radius: 10px;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    margin: 20px 5px;
    width: 35%;
    min-width: 100px;
  }